html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #FAF5CE;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-areas: 
        "nav"
        "donate"
        "difference"
        "ways"
        "ways-cards" 
        "newsletter"
        "map"
        "footer"
    ;
}
/* ----- Navbar ----- */

nav {
    grid-area: nav;
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 4rem;
    padding-bottom: 3rem;
}

nav a {
    color: #E9A642;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo-home {
    grid-column: 2/3;
    color: #E9A642;
    padding-left: 1rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a:hover, #logo-home:hover {
    color:#3b76a3;
}

#nav-products {
    grid-column: 4/5;
}

#nav-mission {
    grid-column: 6/7;
}

#nav-donate {
    grid-column: 8/9; 
}

#nav-contact {
    grid-column: 10/11; 
}
/*-----Body----*/
#donate{
    grid-area: donate;
    grid-column: 1/13;
    text-align:center;
    grid-row:2/5;
    padding-left:20%;
    padding-right:20%;
}
#donate h2{
   font-size:1rem;
   font-family: 'Cubano', sans-serif;
   color:#2D4826;
   grid-row:2/3;
    
}
#donate p {
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:0.75rem;
    line-height:1.3;
    grid-row:3/5;
}
#difference{
    grid-area: ways;
    grid-row:5/6;
    grid-column:1/13;
    text-align:center;
    padding-top:4%;
    padding-left:20%;
    padding-right:20%;
}
#difference h5{
    color:#3B76A2;
    font-size:0.75rem;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#ways {
    grid-area: ways-cards;
    grid-column: 1/13;
    padding-top:5%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.type_of_way {
    width: 10rem;
    height: 10rem;
    margin: 1rem auto;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    color: #FAF5CE;
    text-align: center;
    line-height: 10rem;
}
/*--left and right arrows on the sides on ways to make difference--*/
.arrow{
    border:solid #3B76A2;
    border-width: 0 3px 3px 0;
    display:inline-block;
    padding:6px;
}
.left{
    transform: rotate(135deg);
    -webkit-transform:rotate(135deg);
}
.right{
    transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#pack {
    display: block;
    background-color: #E9A642;
}
#pack:hover, #monetary:hover, #volunteer:hover{
    background-color:dimgrey;
    font-size:2rem;
    color:#E9A642;
}
#monetary {
    
    background-color: #7B9E72;
}

#volunteer {
    
    background-color: #E2838A;
}

/* ----- Newsletter ----- */

#newsletter {
    grid-area: newsletter;
    grid-column: 1/13;
    height: 22rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr;
    padding-top: 3.125rem;
    background-color:#3b76a3;
    color: #FAF5CE;
    z-index: 1;
}

#triple-join {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
}
#newsletter p {
    margin: 0 auto;
    font-size: 3.75vw;
    padding-top: 2.5rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    line-height: 0.1rem;   
}

.outline {
    -webkit-text-fill-color:#3b76a3;
    -webkit-text-stroke-width: 0.0625rem;
    -webkit-text-stroke-color:#F4A41F;
}

#newsletter form {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#newsletter input {
    width: 8rem;
    border: 0;
    border-radius: 0;
    border-bottom: 0.125rem solid #FAF5CE;
    background-color:#3b76a3;
    box-shadow: none;
    color: #FAF5CE;

}
 #email {
     display: inline-block;
     min-width: 12rem;
 }

#chevron-yellow-news {
    position: relative;
    top: .5rem;
    display: inline-block;
    color:#FAF5CE;
}

input::placeholder {
    color:#FAF5CE;
    font-size: 90%;
}

#newsletter .material-icons {
    font-size: 1.5rem;
}

/* ----- Topographical Map ----- */

#map {
    grid-area: map;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FAF5CE;
    height: 10rem;
    padding-bottom: 20rem;
}

#map-lines {
    grid-column: 1/13;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: relative;
    bottom: 10rem;
}
/* ----- Footer ----- */

footer {
    grid-area: footer;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FAF5CE;
    font-size: 0.5rem;
    padding-bottom: 3rem;
}

footer a {
    color: #2D4826;
}

#footer-contact {
    grid-column: 2/4;
}

#footer-contact-title {
    color: #7B9E72;
}

#footer-email {
    text-decoration: underline;
}

#footer-about {
    grid-column: 5/6;
    padding-left: 1.5rem;
}

#about {
    color: #7B9E72;
}

#footer-cust-serv {
    grid-column: 7/10;
}

#cust-serv {
    color: #7B9E72;
}
#footer-social {
    grid-column: 10/12;
    padding-left: 1rem;
}

#social {
    color: #7B9E72;
}

#back-to-top {
    grid-column: 2/4;
    text-decoration: underline;
}

#chevron-up {
    grid-column: 3/4;
    grid-row: 2/3;
    position:relative;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #2D4826;
    font-size: 1.5rem !important;
}

/* --- Modal Styles ----- */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 158, 114, 0.7);
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

.modal-content {
    width: 15rem;
    height: 30rem;
    background-color: #FAF5CE;
    -webkit-box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26); 
    box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26);
    display: flex;
    justify-content: center;
    position: relative;
}

#modal-form {
    width: 15rem;
    height: 30rem;
    display: inline;
}

#form {
    width:13rem;
}

#modal-form h3 {
    display: block;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #2D4826;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#modal-form p {
    text-align: center;
    color: #2D4826;
    font-size: 0.75rem;
    padding-bottom: 1rem;
}

input {
    background-color: #FBF9E7;
    width: 13rem;
    border-radius: 0.1875rem;
    border-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25); 
    box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25);
}

#name::placeholder, #modal-email::placeholder, #message::placeholder {
    font-size: 0.75rem;
    color: #7B9E72;
}

#name {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#modal-email {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#message {
    display:block;
    width: 13rem;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 8rem;
    resize: none;
}

#modal-submit {
    font-weight: bold;
    color: #FAF5CE !important;
    font-size: 0.5rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #DEDEDE;
    padding: 0.625rem 1.5625rem;
    background: #2D4826;
    display: block;
    margin: 1rem auto;
    width: 8rem;
}

.close {
    display: block;
    right: 1rem;
    font-size: 2rem;
    position: absolute;
    transform: rotate(45deg);
    color: #2D4826;
    cursor: pointer;
}

#modal-image img {
    display: none;
}

/* ---------------------------------- Media Query ----------------------------------------- */

/* ----- Tablet Styles ----- */
@media only screen and (min-width: 680px){
    nav a {
        font-size: 1rem;
    }

    #donate {
        grid-column: 2/12;
        text-align: left;
        padding-left: 10%;
    }

    #donate h2 {
        font-size: 2rem;
    }

    #difference h5 {
        font-size: 1rem;
    }
   
    #ways {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    #pack, #monetary, #volunteer {
        display: inline-block;
        margin-top: 5rem;
    }

    #pack, #monetary {
        margin-right: 3%;
    }

    footer {
        font-size: 0.75rem;
        height: 15rem;
    }

    .modal-content {
        width: 37.5rem;
        height: 25rem;
    }
    
    #modal-form {
        width: 18.75rem;
        height: 25rem;
        display: inline;
    }

    #modal-form h3 {
        font-size: 1.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    
    #modal-form p {
        font-size: 1rem;
        padding-bottom: 0;
    }
    
    input {
        width: 15rem;
    }
    
    #name {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #modal-email {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #message {
        width: 15rem;
        padding-bottom: 5rem;
    }
    
    #modal-submit {
        font-size: 0.75rem;
        margin: 1.5rem auto;
    }

    .close {
        display: block;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        position: absolute;
        transform: rotate(45deg);
        color: #2D4826;
        cursor: pointer;
    }
    
    #modal-image img{
        display: inline;
        width: 18.75rem;
        height: 25rem;
        object-fit: cover;   
    }
    
}

/* ----------------------------------------- Media Query ------------------------------------ */

/* ----- Ipad Pro ----- */

@media only screen and (min-width: 980px) {
    #donate {
        grid-column: 1/13;
        margin-top: 3rem;
        padding-left: 15%;
        padding-right: 40%;
    }

    #donate h2 {
        font-size: 3rem;
    }

    #donate p {
        font-size: 1rem;
    }

    #difference h5 {
        font-size: 1.5rem;
        margin: 0 auto;
    }

    #ways {
        margin-top: 1rem;
    }

    .type_of_way {
        width: 15rem;
        height: 15rem;
        line-height: 15rem;
    }

    #pack, #monetary, #volunteer {
        display: inline-block;
        margin-top: 5rem;
    }

    #pack, #monetary {
        margin-right: 3%;
    }

    #newsletter input {
        width: 15rem;
    }

    footer {
        padding-bottom: 5rem;
    }

    .modal-content {
        width: 50rem;
        height: 40rem;
    }

    #modal-image img{
        width: 25rem;
        height: 40rem;
        display: inline;
        object-fit: cover;  
    }
    
    #modal-form {
        width: 25rem;
        height: 40rem;
        display: inline;
    }

    #modal-form h3 {
        font-size: 2rem;
        padding-bottom: 0;
        margin-top: 4rem;
    }
    
    #modal-form p {
        margin-bottom: 2rem;
    }
    
    input {
        width: 20rem;
    }
    
    #message {
        width: 20rem;
        padding-bottom: 15rem;
    }
    
    #modal-submit {
        margin: 2rem auto;
        width: 15rem;
    } 
}

/* -------------------------------------- Media Query ----------------------------------------- */

/* ----- Desktop Styles ----- */

@media only screen and (min-width: 1350px) {
    nav {
        padding-bottom: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    #donate {
        margin-top: 3rem;
    }

    #ways {
        margin-top: -1rem;
    }

    #difference h5 {
        font-size:1.5rem;
        font-family: 'Cubano', sans-serif;
    }

    #newsletter p {
        /* Note: 'vw' stands for view-port-width */
        font-size: 2.5vw; 
    }

    footer, footer a {
        font-size: 1rem;
    }
}
