html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-areas: 
        "hero"
        "desc-image"
        "desc-text"
        "how-image"
        "how-text"
        "mission-image"
        "mission-text"
        "newsletter"
        "map"
        "footer"
    ;
}


/* ----- Hero (main styles) ----- */

#hero {
    grid-area: hero;
    /* photo by Holly Mandarich on Unsplash.com */
    background: url(images/hero-image.jpg) center;
    /* width: 23.4375rem; */
    width: 100%;
    background-size: cover;
    height: 51rem;
    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
}

/* ----- Navbar and Navbar Elements ----- */

nav {
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 8rem;
}

/* nav img {
    grid-column: 2/3;
} */

nav a {
    color: #E9A642;
    font-size: 0.6rem;
    font-weight: bold;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1rem;
}

#logo-home {
    grid-column: 2/3;
}

#nav-products {
    grid-column: 4/5;
}

#nav-mission {
    grid-column: 6/7;
}

#nav-donate {
    grid-column: 8/9; 
}

#nav-contact {
    grid-column: 10/11; 
}

/* ----- Main Title Div with Main Title Image ----- */

#main-title {
    grid-column: 1/13;
    /* background-image: url(images/wandersol-title.png); */
    background-color: rgb(26,42,63,.5);
    background-repeat: no-repeat;
    background-position: center top;
    /* background-size: contain; */
    height: 15rem;
    padding: 0;
}

#main-title img {
    width: 60%;
    margin: auto;
    display: block;
    position: relative;
    top: 25%;
}

#description {
    background-color: #E58B3C;
    height: 51rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
}

#desc-image {
    grid-area: desc-image;
    width: 18rem;
    height: 24rem;
    background-color: #e2838a;
    padding-top: 10rem;
    margin: 3rem auto;
}

#desc-text {
    color: #1A2A3F;
    padding: 0 3rem 0 3rem;
    grid-area: desc-text;
    font-family: 'Raleway', sans-serif;
}

#desc-text h3 {
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.read-more-light a {
    color: #FAF5CE;
    font-size: 0.25rem;
}

.material-icons {
    font-size: 1.5rem;
}

#chevron-yellow {
    color: #FAF5CE;
    position: relative;
    top: 0.5rem;
}
/* ----- How ----- */

#how {
    background-color: #7B9E72;
    /* padding: 2rem; */
    height: 51rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#how-image {
    grid-area: how-image;
    width: 18rem;
    height: 24rem;
    background-color: #3b76a3;
    padding-top: 10rem;
    margin: 3rem auto;
}

#how-text {
    grid-area: how-text;
    padding: 0 3rem 0 3rem;
    font-family: 'Raleway', sans-serif;
    color: #162A41;
    font-size: 0.8rem;
}

#how-text h3 {
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ----- Mission ----- */

#mission {
    background-color: #FAF5CE;
    color: #162A41;
    padding: 3.125rem;
    height: 51rem;
    font-size: 0.8rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#mission-image img {
    max-width: 18rem;
    max-height: 24rem;
}

.read-more-dark a {
    color: #569573;
    font-size: 0.25rem;
}

#chevron-right-light-green {
    color: #569573;
    position: relative;
    top: 0.5rem;
    font-size: 1.5rem;
}

#mission-text {
    grid-area: mission-text;
    padding-top: 3rem;
    font-family: 'Raleway', sans-serif;
}

#mission-text h3 {
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#newsletter {
    grid-area: newsletter;
    height: 22rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr;
    padding-top: 3.125rem;
    background-color:#7B9372;
    color: #FAF5CE;
    z-index: 1;
}

#triple-join {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
}
#newsletter p {
    margin: 0 auto;
    font-size: 3.75vw;
    padding-top: 2.5rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    line-height: 0.1rem;   
}

.outline {
    -webkit-text-fill-color: #7B9E72; 
    -webkit-text-stroke-width: 0.0625rem;
    -webkit-text-stroke-color:#F4A41F;
}

#newsletter form {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    padding-top: 2rem;
    /* padding-left: 0.75rem; */
    padding-bottom: 2rem;
}

#newsletter input {
    width: 8rem;
    border: 0;
    border-radius: 0;
    border-bottom: 0.125rem solid #FAF5CE;
    background-color: #7B9372;
    box-shadow: none;
    color: #FAF5CE;

}
 #email {
     display: inline-block;
     min-width: 12rem;
 }

#chevron-yellow-news {
    position: relative;
    top: .5rem;
    display: inline-block;
    color:#FAF5CE;
}

input::placeholder {
    color:#FAF5CE;
    font-size: 90%;
}

#newsletter .material-icons {
    font-size: 1.5rem;
}

/* ----- Topographical Map Image ----- */

#map {
    grid-area: map;
    background-color: #FAF5CE;
    height: 10rem;
    padding-bottom: 20rem;
}

#map-lines {
    grid-column: 1/13;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: relative;
    bottom: 10rem;
}

/* ----- Footer ----- */

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FAF5CE;
    font-size: 0.25rem;
    padding-bottom: 3rem;
}

footer a {
    color: #2D4826;
}

#footer-contact {
    grid-column: 2/4;
}

#footer-contact-title {
    color: #7B9E72;
}

#footer-email {
    text-decoration: underline;
}

#footer-about {
    grid-column: 5/6;
    padding-left: 1.5rem;
}

#about {
    color: #7B9E72;
}

#footer-cust-serv {
    grid-column: 7/10;
}

#cust-serv {
    color: #7B9E72;
}
#footer-social {
    grid-column: 10/12;
    padding-left: 1rem;
}

#social {
    color: #7B9E72;
}

#back-to-top {
    grid-column: 2/4;
    text-decoration: underline;
}

#chevron-up {
    grid-column: 3/4;
    grid-row: 2/3;
    position:relative;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #2D4826;
    font-size: 1.5rem !important;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 158, 114, 0.7);
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

.modal-content {
    width: 15rem;
    height: 30rem;
    background-color: #FAF5CE;
    -webkit-box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26); 
    box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26);
    display: flex;
    justify-content: center;
    position: relative;
}

#modal-form {
    width: 15rem;
    height: 30rem;
    display: inline;
}

#form {
    width:13rem;
}

#modal-form h3 {
    display: block;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #2D4826;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#modal-form p {
    text-align: center;
    color: #2D4826;
    font-size: 0.75rem;
    padding-bottom: 1rem;
}

input {
    background-color: #FBF9E7;
    width: 13rem;
    border-radius: 0.1875rem;
    border-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25); 
    box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25);
}

#name::placeholder, #modal-email::placeholder, #message::placeholder {
    font-size: 0.75rem;
    color: #7B9E72;
}

#name {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#modal-email {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#message {
    display:block;
    width: 13rem;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 8rem;
    resize: none;
}

#modal-submit {
    font-weight: bold;
    color: #FAF5CE !important;
    font-size: 0.5rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #DEDEDE;
    padding: 0.625rem 1.5625rem;
    background: #2D4826;
    display: block;
    margin: 1rem auto;
    width: 8rem;
}

.close {
    /* Need to write JS for closing when tapping outside of #modal-content */
    display: none;
}

#modal-image img {
    display: none;
}

/* -------------------------------- Media Query --------------------------------------- */

/* ----- Tablet Styles ----- */

@media only screen and (min-width: 766px) {
    #hero, #description, #how, #mission {
        height: 65rem;
    }

    nav a {
        font-size: 1rem;
    }

    #main-title {
        height: 40%;
    }

    #main-title img {
        width: 50%;
    }

    #desc-image, #how-image {
        height: 30rem;
        width: 25rem;
        margin-top: 8rem;
    }

    #desc-text, #how-text {
        padding: 0rem 8rem;
    }

    #desc-text h3, #how-text h3, #mission-text h3 {
        font-size: 2rem;
    }

    #desc-text p, #how-text p, #mission-text p {
        font-size: 1rem;
    }

    #read-more-light a, read-more-dark a {
        font-size: 0.75rem;
    }

    #mission {
        padding: 0;
        margin: 0;
        /* padding-top: 0; */
    }

    #mission-image {
        grid-column: 2/7;
        grid-row: 1/2;
        padding-top: 3rem;
    }

    #mission-image img {
        display: block;
        max-width: 25rem;
        max-height: 35rem;
        margin: 3rem auto 0;
    }

    #mission-text {
        padding: 0rem 8rem;
    }

    #mission-text h3 {
        padding-top: 0;
    }

    #newsletter p {
        font-size: 2.75vw;
    }
    
    #newsletter input{
        width: 12rem;
    }

    #map-lines {
        height: 25rem;
    }

    #footer {
        height: 5rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    #chevron-up {
        right: 3.5rem;
    }
    
    .modal-content {
        width: 37.5rem;
        height: 25rem;
    }
    
    #modal-form {
        width: 18.75rem;
        height: 25rem;
        display: inline;
    }

    #modal-form h3 {
        font-size: 1.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    
    #modal-form p {
        font-size: 1rem;
        padding-bottom: 0;
    }
    
    input {
        width: 15rem;
    }
    
    #name {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #modal-email {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #message {
        width: 15rem;
        padding-bottom: 5rem;
    }
    
    #modal-submit {
        font-size: 0.4rem;
        margin: 1.5rem auto;
    }
     
    .close {
        display: block;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        position: absolute;
        transform: rotate(45deg);
        color: #2D4826;
        cursor: pointer;
    }
    
    #modal-image img{
        display: inline;
        width: 18.75rem;
        height: 25rem;
        object-fit: cover;   
    }
} 

/* -------------------------------- Media Query --------------------------------------- */
/* ----- Ipad Pro ----- */
@media only screen and (min-width: 1000px) {
   nav a {
    font-size: 1.5rem;
   }
    #hero {
        height: 85.375rem;
    }

    #main-title {
        height: 45%;
    }

    #main-title img {
        width: 50%;
        top: 30%;
    }

    #description, #how, #mission {
        height: 85.375rem;
    }

    #desc-text h3, #how-text h3, #mission-text h3 {
        font-size: 2.5rem;
    }

    #desc-text p, #how-text p {
        font-size: 1rem;
    }

    #desc-image, #how-image, #mission-image {
        width: 36.75rem;
        height: 46.5rem;
        margin-top: 8rem;
        margin-left: 8rem;
    }

    .read-more-light a, .read-more-dark a {
        font-size: 0.75rem;
    }

    #chevron-yellow {
        top: 0.45rem;
    }

    #chevron-right-light-green {
        top: 0.45rem;
    }

    #mission-image {
        padding: 0;
        margin: 0;
    }

    #mission-image img {
        max-width: 36.75rem;
        max-height: 46.5rem;
        margin-top: 8rem;
        margin-left: 8rem;
    }

    #mission-text p {
        font-size: 1rem;
    }

    #map-lines {
        height: 37.5rem;
        bottom: 20rem;
    }

    footer {
        height: 20rem;
        font-size: 0.75rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
    }
}

/* -------------------------------- Media Query --------------------------------------- */
/* ----- Desktop Styles ------ */
@media only screen and (min-width:1350px) {
    body {
        grid-template-columns: repeat(12, 1 fr);
        grid-template-areas: 
        "hero"
        "desc-image desc-text"
        "how-text how-image"
        "mission-image mission-text""
        "newsletter"
        "map"
        "footer"
    }

    #hero {
        height: 65rem;
    }

    #main-title {
        height: 60%;
    }

    #main-title img {
        width: 40%;
        padding-bottom: 20%;
    }

    #description {
        grid-area: desc-image desc-text;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100%;
        margin: 0;
        padding: 0;
        height: 67rem;
    }

    #desc-image {
        grid-column: 2/6;
        grid-row: 1/2;
        width: 35rem;
        height: 52rem;
        background-color: #e2838a;
        padding: 0;
        margin: 8rem 0rem 0rem 0rem;       
    }

    #desc-text {
        grid-column: 7/12;
        grid-row: 1/2;
        padding: 0;
        margin: 20rem 0rem 0rem;
    }

    #desc-text h3 {
        padding: 0;
        margin: 0;
    }

    #how {
        grid-area: how-text how-image;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100%;
        margin: 0;
        height: 67rem;
    }

    #how-text {
        grid-column: 2/6;
        grid-row: 1/2;
        padding: 20rem 0rem 0rem 0rem;
    }

    #how-image{
        grid-column: 7/12;
        grid-row: 1/2;
        background-color: #3b76a3;
        width: 35rem;
        height: 52rem;
        padding: 0;
        margin: 8rem 0rem 0rem 0rem; 
    }

    #mission {
        grid-area: mission-image mission-text;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100%;
        height: 67rem;
        margin: 0;
        padding: 0;
    }

    #mission-image {
        grid-column: 2/7;
        grid-row: 1/2;
        padding: 0;
        margin-top: 8rem;
    }

    #mission-image img {
        display: block;
        max-width: 36.75rem;
        max-height:46.5rem;
        margin-top: 0;
        padding: 0;
        margin-left: 0 !important;
    }

    #mission-text {
        grid-column: 7/12;
        grid-row: 1/2;
        padding: 15rem 0rem 0rem 0rem;
    }

    #newsletter {
        grid-area: newsletter;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr 1fr;
        height: 20rem;
    }

    #newsletter p {
        font-size: 2.5vw;
    }

    #newsletter input {
        width: 20rem;
        padding-top: 1rem;
    }

    #email::placeholder {
        font-size: 100%;
    }

    #map {
        height: 37.5rem;
    }
    #map-lines {
        height: 50rem;
        bottom: 20rem;
    }

    footer {
        height: 30rem;
        padding-top: 0;
        font-size: 1rem;
        padding-bottom: 10rem;
    }

    #footer-contact, #footer-about, #footer-cust-serv, #footer-social {
        grid-row: 1/2;
        padding-top: 5rem;
    }

    #back-to-top {
        grid-column: 2/4;
        grid-row: 2/3;
        padding-bottom: 1rem;
    }

    #chevron-up {
        grid-column: 3/5;
        grid-row: 2/3;
        position:relative;
        left: 17rem;
        top: 18.5rem;
    }

    #footer-contact {
        grid-column: 2/5;
    }

    #footer-about {
        grid-column: 6/7;
    }

    #footer-cust-serv {
        grid-column: 8/10;
    }

    #modal-submit {
        margin: 0.75 auto;
    }

    #modal-submit:hover {
        color: #2D4826 !important;
        background: #FAF5CE;
    } 
}




