html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;;
    line-height: 1.3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "hero"
        "desc-image"
        "desc-text"
        "how-image"
        "how-text"
        "mission-text"
        "newsletter"
        "footer"
}

#hero {
    grid-area: hero;
    /* photo by Holly Mandarich on Unsplash */
    background: url(images/hero-image.jpg) center;
    background-size: cover;
    height: 62.5rem;
}

.main-title-parent {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 50%;
    /* top: 5%; Will put main title a bit higher up */
}

.main-title-child {
    position: absolute;
    background-color: #1A2A3F50;
}

#orange {
    font-weight: bold;
    font-size: 6rem;
    color: #F4A41F;
    padding: 0 5.05rem 0 6.25rem;
    margin: 0;
    left: .4375rem;
}

#blue {
    font-weight: bold;
    font-size: 6rem;
    color: #1A2A3F;
    padding: 0 5.5rem 0 6.25rem;
    margin: 0;
    left: 0;
}

#description {
    background-color: #E58B3C;
    padding: 3.125rem;
}

#desc-text {
    color: #1A2A3F;
}

#how {
    background-color: #7B9E72;
    padding: 3.125rem;
}

#how-text {
    color: #162A41;
}

.read-more-light a {
    color: #FAF5CE;
    text-decoration: none;
}

#mission {
    background-color: #FAF5CE;
    color: #162A41;
    padding: 3.125rem;
}

.read-more-dark a {
    color: #569573;
    text-decoration: none;
}

#desc-image {
    grid-area: desc-image;
    width: 36.75rem;
    height: 46.5rem;
    background-color: #000;
}

#desc-text {
    grid-area: desc-text;
}

#how-text {
    grid-area: how-text;
}

#how-image {
    grid-area: how-image;
    width: 36.75rem;
    height: 46.5rem;
    background-color: #000;
}

#mission-text {
    grid-area: mission-text;
}

#newsletter {
    grid-area: newsletter;
    padding: 3.125rem;
}

footer {
    grid-area: footer;
    padding: 3.125rem;
}