html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #FAF5CE;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        "nav"
        "left"
        "right"
        "copy"
        "counter"
        "newsletter"
        "map"
        "footer";
}

/* ----- Navbar ----- */

nav {
    grid-area: nav;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 4rem;
    padding-bottom: 3rem;
}

nav a {
    color: #E9A640;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -1rem;
}

#logo-home {
    grid-column: 2/3;
    color: #E9A640;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav-products {
    grid-column: 4/5;
}

#nav-mission {
    grid-column: 6/7;
}

#nav-donate {
    grid-column: 8/9; 
}

#nav-contact {
    grid-column: 10/11; 
}

.left {
    grid-area: left;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.left h2 {
    grid-column: 5/9;
    margin: 0 auto 1rem auto;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2D4826;
}

.left h5 {
    grid-column: 3/11;
    margin: 0 auto 1rem auto;
    color: #7B9E72;
}

.right {
    grid-area: right;
    grid-column: 1/13;
    margin: 0 auto;
}

img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
}

#copy {
    grid-area: copy;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    font-size: 0.75rem;
}

#copy p {
    grid-column: 2/12;
}

#counter {
    grid-area: counter;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
}

#number {
    grid-column: 3/10;
    grid-row: 1/2;
    font-size: 1.25rem;
    margin: 1.25rem auto;
    font-family: filson-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
}

#total {
    grid-column: 1/13;
    grid-row: 2/3;
    font-size: 0.65rem;
}

#newsletter {
    grid-area: newsletter;
    grid-column: 1/13;
    height: 22rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 1fr;
    padding-top: 3.125rem;
    background-color:#7B9372;
    color: #FAF5CE;
    z-index: 1;
}

#triple-join {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
}
#newsletter p {
    margin: 0 auto;
    font-size: 3.75vw;
    padding-top: 2.5rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1rem;
    line-height: 0.1rem;   
}

.outline {
    -webkit-text-fill-color: #7B9E72; 
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color:#F4A41F;
}

#newsletter form {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#newsletter input {
    width: 8rem;
    border: 0;
    border-radius: 0;
    border-bottom: 0.125rem solid #FAF5CE;
    background-color: #7B9372;
    box-shadow: none;
    color: #FAF5CE;

}
 #email {
     display: inline-block;
     min-width: 12rem;
 }

#chevron-yellow-news {
    position: relative;
    top: .5rem;
    display: inline-block;
    color:#FAF5CE;
}

input::placeholder {
    color:#FAF5CE;
    font-size: 90%;
}

#newsletter .material-icons {
    font-size: 1.5rem;
}

/* ----- Topographical Map Image ----- */

#map {
    grid-area: map;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FAF5CE;
    height: 10rem;
    padding-bottom: 20rem;
}

#map-lines {
    grid-column: 1/13;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: relative;
    bottom: 10rem;
}

/* ----- Footer ----- */

footer {
    grid-area: footer;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #FAF5CE;
    font-size: 0.25rem;
    padding-bottom: 3rem;
}

footer a {
    color: #2D4826;
}

#footer-contact {
    grid-column: 2/4;
}

#footer-contact-title {
    color: #7B9E72;
}

#footer-email {
    text-decoration: underline;
}

#footer-about {
    grid-column: 5/6;
    padding-left: 1.5rem;
}

#about {
    color: #7B9E72;
}

#footer-cust-serv {
    grid-column: 7/10;
}

#cust-serv {
    color: #7B9E72;
}
#footer-social {
    grid-column: 10/12;
    padding-left: 1rem;
}

#social {
    color: #7B9E72;
}

#back-to-top {
    grid-column: 2/4;
    text-decoration: underline;
}

#chevron-up {
    grid-column: 3/4;
    grid-row: 2/3;
    position:relative;
    right: 0.5rem;
    bottom: 0.5rem;
    color: #2D4826;
    font-size: 1.5rem !important;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(123, 158, 114, 0.7);
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2;
}

.modal-content {
    width: 15rem;
    height: 30rem;
    background-color: #FAF5CE;
    -webkit-box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26); 
    box-shadow: 0.4375rem 0.4375rem 0.625rem 0rem rgba(0,0,0,0.26);
    display: flex;
    justify-content: center;
    position: relative;
}

#modal-form {
    width: 15rem;
    height: 30rem;
    display: inline;
}

#form {
    width:13rem;
}

#modal-form h3 {
    display: block;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #2D4826;
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#modal-form p {
    text-align: center;
    color: #2D4826;
    font-size: 0.75rem;
    padding-bottom: 1rem;
}

input {
    background-color: #FBF9E7;
    width: 13rem;
    border-radius: 0.1875rem;
    border-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25); 
    box-shadow: inset 0rem 0.25rem 0.25rem 0rem rgba(0,0,0,0.25);
}

#name::placeholder, #modal-email::placeholder, #message::placeholder {
    font-size: 0.75rem;
    color: #7B9E72;
}

#name {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#modal-email {
    display: block;
    margin-bottom: 1rem;
    padding: 0.625rem;
}

#message {
    display:block;
    width: 13rem;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    padding-bottom: 8rem;
    resize: none;
}

#modal-submit {
    font-weight: bold;
    color: #FAF5CE !important;
    font-size: 0.5rem;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #DEDEDE;
    padding: 0.625rem 1.5625rem;
    background: #2D4826;
    display: block;
    margin: 1rem auto;
    width: 8rem;
}

.close {
    display: block;
    right: 1rem;
    font-size: 2rem;
    position: absolute;
    transform: rotate(45deg);
    color: #2D4826;
    cursor: pointer;
}

#modal-image img {
    display: none;
}

/* --------------------------------- Media Query --------------------------------------------- */

/* ----- Tablet Styles ----- */

@media only screen and (min-width: 680px) {
    nav a {
        font-size: 1rem;
    }

    .left h2 {
        font-size: 300%;
    }
    
    .left h5 {
        grid-column: 2/12;
        font-size: 125%;
    }

    #copy p {
        grid-column: 4/10;
        font-size: 1rem;
    }

    #newsletter p {
        font-size: 2.75vw;
    }
    
    #newsletter input{
        width: 12rem;
    }

    #map-lines {
        height: 25rem;
    }

    #footer {
        height: 5rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    
    #chevron-up {
        right: 3.5rem;
    }
    
    .modal-content {
        width: 37.5rem;
        height: 25rem;
    }
    
    #modal-form {
        width: 18.75rem;
        height: 25rem;
        display: inline;
    }

    #modal-form h3 {
        font-size: 1.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    
    #modal-form p {
        font-size: 1rem;
        padding-bottom: 0;
    }
    
    input {
        width: 15rem;
    }
    
    #name {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #modal-email {
        margin-bottom: 0.625rem;
        padding: 0.625rem;
    }
    
    #message {
        width: 15rem;
        padding-bottom: 5rem;
    }
    
    #modal-submit {
        font-size: 0.4rem;
        margin: 1.5rem auto;
    }
     
    .close {
        display: block;
        top: -1rem;
        right: 1rem;
        font-size: 4rem;
        position: absolute;
        transform: rotate(45deg);
        color: #2D4826;
        cursor: pointer;
    }
    
    #modal-image img{
        display: inline;
        width: 18.75rem;
        height: 25rem;
        object-fit: cover;   
    }

    footer {
        font-size: 0.75rem;
    }
}

/* ----------------------------------------- Media Query ------------------------------------ */

/* ----- Ipad Pro ----- */

@media only screen and (min-width: 980px) {
    body {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
        "nav"
        "left right"
        "copy right"
        "counter"
        "newsletter"
        "map"
        "footer";
    }

    nav {
        margin-bottom: 2rem;
    }

    .left {
        grid-area: left;
        grid-column: 2/6;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 9rem;
    }

    .left h2 {
        grid-column: 1/13;
        grid-row: 1/2;
        margin: 3rem 0 0;
        padding: 0;
    }

    .left h5 {
        grid-column: 1/13;
        grid-row: 2/3;
        margin: 1rem 0 -4rem 0;
        padding: 0;
        display: block;
    }

    .right {
        grid-column: 7/12;
        grid-row: 2/4;
        height: 24rem;
    }

    img {
        width: 25rem;
        height: 25rem;
    }

    #copy {
        grid-area: left;
        grid-column: 2/6;
        grid-row: 3/4;
        margin: 0;
        padding: 0;
        display: block;
    }

    #counter {
        grid-row: 4/5;
        margin-top: 2rem;
    }

    #total {
        font-size: 1rem;
    }

    .outline {
        -webkit-text-stroke-width: 0.175rem;
    }

    footer {
        font-size: 0.9rem;
        padding-bottom: 5rem;
    }
}

/* ------------------------------------- Media Query ----------------------------------------- */

/* ----- Desktop Styles ----- */

@media only screen and (min-width: 1100px) {
    body  {
        font-size: 1rem;
    }

    nav {
        margin-bottom: 5rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    #counter {
        margin: 10rem auto;
    }
}