html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 1rem;
    background-color: #FAF5CE;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    display: grid;
    grid-template-columns: repeat(12 1fr);
    grid-template-areas: 
        "nav"
        "product-menu-left blank0"
        "blank1"
        "blank2"
        "blank3"
        "blank4"
        "blank5"
        "footer"
    ;
}
/* ----- Navbar ----- */

nav {
    grid-area: nav;
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 2rem;
    padding-bottom: 3rem;
}

nav a {
    color: #E9A642;
    /* font-size 1.5rem */
    font-size: 0.6rem;
    font-weight: bold;
    font-family: filson-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#logo-home {
    grid-column: 1/2;
    color: #3b76a3;
    padding-left: 0.25rem;
    font-family: cubano, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav-products {
    grid-column: 4/5;
}

#nav-mission {
    grid-column: 6/7;
}

#nav-donate {
    grid-column: 8/9; 
}

#nav-contact {
    grid-column: 10/11; 
}

#products-menu-left {
    grid-column: 2/4;
    grid-row: 2/3;
}

/* ----- Products ----- */

#product-menu-left {
    grid-area: product-menu-left;
    grid-column: 2/4;
    grid-row: 2/8;
}

#product-sub-category p {
    padding-left: .5rem;
    font-size: 0.6rem;
    color: #2D4826;
}

#product-sub-category a {
    color:#2D4826;
}

#products-menu-left-title {
    font-size: 0.6rem;
    color: #E9A642;
}

#products-menu-left-title-bold {
    font-weight: bold;
    color: #2D4826;
    font-size: 0.6rem;
}

.card {
    color: #2D4826;
    width: 15.625rem;
    height: 15.625rem;
    font-size: 0.4rem;
    margin-bottom: 0.625rem;
    padding-top: 11.5rem;
    padding-left: 0.5rem;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

#blank0 {
    grid-area: blank0;
    grid-column: 8/12;
    grid-row: 2/3;
    background-color: #E9A642;
}

#blank0 a {
    color: #2D4826;
}

#blank1 {
    grid-area: blank1;
    grid-column: 8/12;
    grid-row: 3/4;
    background-color: #7a9f72;
    padding-top: 14rem;
}

#blank2 {
    grid-area: blank2;
    grid-column: 8/12;
    grid-row: 4/5;
    background-color: #e2838a;
    padding-top: 14rem;
}

#blank3 {
    grid-area: blank3;
    grid-column: 8/12;
    grid-row: 5/6;
    background-color: #e0ab7b;
    padding-top: 14rem;
}

#blank4 {
    grid-area: blank4;
    grid-column: 8/12;
    grid-row: 6/7;
    background-color: #b7c3cf;
    padding-top: 14rem;
}

#blank5 {
    grid-area: blank5;
    grid-column: 8/12;
    grid-row: 7/8;
    background-color: #bfd1bc;
    padding-top: 14rem;

}

/* ----- Footer ----- */

footer {
    grid-area: footer;
    grid-column: 1/13;
    grid-row: 8/9;
    font-size: 0.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
}

footer a {
    color: #2D4826;
    font-size: 80%;
}

#footer-contact {
    grid-column: 1/4;
    grid-row: 2/3;
    color: #7B9E72;
}

#footer-contact-title {
    color: #7B9E72;
}

.footer-title {
    color: #7B9E72;
}

#footer-about {
    grid-column: 5/6;
    grid-row: 2/3;
}

#about {
    color: #7B9E72;
}

#footer-cust-serv {
    grid-column: 7/10;
    grid-row: 2/3;
}

#cust-serv {
    color: #7B9E72;
}
#footer-social {
    grid-column: 11/12;
    grid-row: 2/3;
}

#social {
    color: #7B9E72;
}

/* ----- Mailing List ----- */
label {
    grid-area: footer;
    grid-column: 3/6;
    grid-row: 3/4;
    padding-top: 0.375rem;
    color: #2D4826; 
}

#email {
    grid-area: footer;
    grid-column: 7/10;
    grid-row: 3/4;
    width: 6.35rem;
    height: 1.25rem;
    border: none;
    font-size: 0.2rem;
    color: #bfd1bc;
    -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.25); 
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,0.25); 
}

 footer img {
    grid-area: footer;
    grid-column: 11/12;
    grid-row: 3/4;
    padding-top: 0.3125rem;
}

/* ----- Media Query ----- */

/* ----- Tablet Styles ----- */

@media only screen and (min-width: 766px) {
    body {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: repeat(12 1fr);
        grid-template-rows: repeat(6 1fr);
    }
    
    #logo-home {
        grid-column: 1/2;
        padding-left: 2rem;
    }

    #products-menu-left {
        grid-column: 2/4;
        grid-row: 2/3;
        padding-left: 20px;
    }

    .card {
        width: 14.5rem;
        height: 14.5rem;
    }

    #blank0 {
        grid-column: 4/8;
        grid-row: 2/3;
        padding-top: 10rem;
    }

    #blank1 {
        grid-column: 8/12;
        grid-row: 2/3;
        padding-top: 12.5rem;
    }

    #blank2 {
        grid-column: 4/8;
        grid-row: 3/4;
        padding-top: 12.5rem;
    }

    #blank3 {
        grid-column: 8/12;
        grid-row: 3/4;
        padding-top: 12.5rem;
    }

    #blank4 {
        grid-column: 4/8;
        grid-row: 4/5;
        padding-top: 12.5rem;
    }

    #blank5 {
        grid-column: 8/12;
        grid-row: 4/5;
        padding-top: 12.5rem;
    }
    
    #footer-contact {
        grid-column: 2/4;
    }

    #email {
        grid-column: 9/11;
    }

    label {
        grid-column: 7/10;
    }
}